@font-face {
  font-family: SpaceGrotesk-regular;
  src: url('../../../public/assets/fonts/SpaceGrotesk-Regular.ttf')
}

@font-face {
  font-family: SpaceGrotesk-light;
  src: url('../../../public/assets/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: SpaceGrotesk-bold;
  src: url('../../../public/assets/fonts/SpaceGrotesk-Bold.ttf');
}


.main {
  width: 100%;
  height: 1080px;


}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 400px;
  flex-direction: column;

}

.p {
  padding-top: 10px;
  font-family: SpaceGrotesk-light;
}